html, body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .navbar-expand-md .navbar-dark {
    text-align: center !important;
    float: none !important;
}

.bg-dark {
    background-color: #8BC34A !important;
}

.border-dark {
    border-color: #8BC34A !important;
}

.btn-dark {
    background-color: #8BC34A !important;
    border-color: #8BC34A !important;
    color: #FFFFFF !important;
}

.nav-pills>li.nav-item>a {
    color: #8BC34A !important;
}

.nav-pills>li.nav-item>a.active {
    background-color: #8BC34A !important;
    color: #FFFFFF !important;
}

.nav-pills>li.nav-item>a.active:focus, .nav-pills>li.nav-item>a.active:hover {
    color: #FFFFFF !important;
}

.nav-tabs>li.nav-item>a {
    color: #FFFFFF !important;
}

.nav-tabs>li.nav-item>a.active {
    background-color: #FFFFFF !important;
    color: #8BC34A !important;
}

.nav-tabs>li.nav-item>a.active:focus, .nav-tabs>li.nav-item>a.active:hover {
    color: #8BC34A !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
